[Unit]
Description=Camera still image capture service
After=network.target

[Service]
Type=idle
Restart=on-failure
User=james
ExecStart=/home/james/venvs/chookyard/bin/python /home/james/chookyard/camera_still.py
WorkingDirectory=/home/james/chookyard

[Install]
WantedBy=multi-user.target
