[Unit]
Description=Chook hutch door opener
After=network.target

[Service]
Type=idle
Restart=on-failure
User=james
ExecStart=/home/james/venvs/chookyard/bin/python /home/james/chookyard/door_button_listen.py
WorkingDirectory=/home/james/chookyard

[Install]
WantedBy=multi-user.target
