[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/home/james/mediamtx/mediamtx
User=james
Restart=always
# restart from failure after 1 hour, just in case we killed the process deliberately to do something
RestartSec=600
#EnvironmentFile=-/home/james/chookyard/.env
WorkingDirectory=/home/james/mediamtx

[Install]
WantedBy=multi-user.target